mixin portfolioItem(title, img, href)
  .portfolio-item
    .portfolio-thumb
      img(src=img, alt=title)
      .portfolio-overlay
        | View Project
    .portfolio-info
      .portfolio-title
        h4= title
      .portfolio-text
        block
      .portfolio-link
        a(href= href || "#") Visit This Page
