section#about.about
  .about-content
    img(src=require("../images/portrait.png"), class="about-picture")
    .about-text
      p Hi! My name is Alexander. I'm a web developer from Portland, Maine with a passion for problem solving and innovation.
      p I have coded in many different languages over the past 15 years, but have most recently dedicated myself to studying the MEAN stack, developing dynamic single-page applications served by Node.js backend architectures.
      p Below are a number of projects I have worked on, and links to my other pages on the web. Thank you for visiting!
      
