section#links.links
  a(href="https://github.com/Sakeran/").media-link
    .media-logo
      i(class="fa fa-2x fa-github")
    .media-text
      | Follow Me On GitHub
  a(href="https://www.linkedin.com/in/alexander-morse-b6208512b/").media-link
    .media-logo
      i(class="fa fa-2x fa-linkedin")
    .media-text
      | Follow Me On LinkedIn
