section#links.links
  a(href="#").media-link
    .media-logo
      i(class="fa fa-2x fa-github")
    .media-text
      | Follow Me On GitHub
  a(href="#").media-link
    .media-logo
      i(class="fa fa-2x fa-linkedin")
    .media-text
      | Follow Me On LinkedIn
