.about {
  background-color: #DD6616;
  margin: 0;
  padding: 0.5rem;
  overflow: auto;
}

.about-text {
  font-size: 1.1rem;
  color: #111;
}

.about-picture {
  width: 50%;
  max-width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 0.5rem;
  float: left;
}

@media (min-width: 500px) {
  .about-content {
    display: flex;
    align-items: center;
  }

  .about-picture {
    margin: auto;
  }
}

@media (min-width: 1400px) {
  .about {
    display: grid;
    grid-template-columns: 1fr minmax(80%, 1400px) 1fr;
    grid-template-areas: '. about-content .';
  }

  .about-content {
    grid-area: about-content;
  }
}

@media (min-width: 960px) {
  .about {
    grid-area: about;
  }
}
