.header {
  text-align: center;
  padding: 0.2rem 0 0.5rem 0;
  background-image: url('../images/cardboard-light.png');
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
}

.header * {
  margin: 0;
}

.header h1 {
  font-family: 'Carter One', sans-serif;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.header h2 {
  padding-top: 0.5rem;
  font-size: 1.2rem;
  font-family: 'Acme';
  letter-spacing: 0.05rem;
}

.header-first {
  color: #ffc600;
}

.header-last {
  color: #ff7800;
}

/* Nudge the header text to the left on very small screens
to prevent the toggle button from overlapping. */
@media (max-width: 400px) {
    .header {
      text-align: left;
      padding-left: 10px;
      padding-right: 30%;
    }

}
