.portfolio {
  /*border: 2px double green;*/
}

.portfolio-items {
  margin: 0 auto;
}

.portfolio-item {
  margin: 0.6rem auto;
  width: 30%;
  min-width: 240px;
  max-width: 400px;
  background-image: url('../images/cardboard-light.png');
  padding: 0.3rem;
  border-radius: 0.4rem;
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.5);
}

.portfolio-thumb {
  position: relative;
}

.portfolio-thumb img{
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}

.portfolio-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0C0001;
  color: #ffc600;
  font-size: 1.2rem;
  font-family: 'Acme', sans-serif;
  opacity: 0;
}

.portfolio-overlay-link {
  font-size: 1rem;
}

.portfolio-clickable .portfolio-overlay {
  cursor: pointer;
}

.portfolio-clickable .portfolio-overlay:hover,
.portfolio-clickable .portfolio-overlay:active {
  opacity: 0.7;
  transition: opacity 0.5s ease;
}

.portfolio-link {
  text-align: center;
}

.portfolio-title h4 {
  margin: 0;
  text-align: center;
  color: inherit;
  font-family: 'Acme', sans-serif;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
}

.portfolio-text {
  width: 90%;
  margin: 0 auto;
  font-size: 0.8rem;
  font-weight: 600;
}

/*Portfolio Modal Classes*/

.portfolio-modal {
  display: none;
  position: fixed;
  left: 2%;
  top: 2%;
  width: 96%;
  height: 96%;
  overflow-y: auto;
  background-image: url('../images/cardboard-smooth.png');
  z-index: -1;
  box-shadow: 0.1rem 0.3rem 0.3rem rgba(0, 0, 0, 0.7);
  border-radius: 0.2rem;
}

.portfolio-modal.portfolio-modal-active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 15;
}

.portfolio-modal-content {
  width: 90%;
  margin-top: 0.25rem;
}

.portfolio-modal-content img {
  display: block;
  margin: 0 auto;
  margin-top: 0.2rem;
}

.portfolio-modal-content button {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  background: none;
  border: none;
  color: inherit;
  font-size: 2rem;
  opacity: 0.8;
  z-index: 16;
}

.portfolio-modal-content button:hover,
.portfolio-modal-content button:active {
  color: #ffc600;
  transition: color 0.25s ease-in-out;
}
