.portfolio-items {
  margin: 0 auto;
}

.portfolio-item {
  margin: 0.6rem auto;
  width: 30%;
  min-width: 240px;
  max-width: 400px;
  background-image: url('../images/cardboard-light.png');
  padding: 0.3rem;
  border-radius: 0.4rem;
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.5);
}

.portfolio-thumb {
  position: relative;
}

.portfolio-thumb img{
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}

.portfolio-link {
  text-align: center;
}

.portfolio-title {
  display: block;
  width: 96%;
  margin: 0 auto;
  text-align: center;
  color: inherit;
  font-family: 'Acme', sans-serif;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
}

.portfolio-title h4 {
  margin: 0;
}

.portfolio-text {
  width: 90%;
  margin: 0 auto;
  font-size: 0.8rem;
  font-weight: 600;
}

.portfolio-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0C0001;
  color: white;
  font-size: 1.2rem;
  font-family: 'Acme', sans-serif;
  opacity: 0;
}


/* Overlay classes. Some elements will display differently inside the
overlay div than in the info div */

/* Note that the overlay will only turn visible if portfolio-clickable has
been added with JS. Valid on hover/active or if the 'show-overlay' class
is active. */
.portfolio-clickable .portfolio-overlay:hover,
.portfolio-clickable .portfolio-overlay:active,
.portfolio-clickable.show-overlay .portfolio-overlay {
  opacity: 0.8;
  transition: opacity 0.5s ease;
}

.portfolio-overlay .portfolio-link a {
  text-decoration: none;
  color: #ffc600;
}

.portfolio-overlay .portfolio-link a:hover,
.portfolio-overlay .portfolio-link a:active {
  color: #ff7800;
  transition: color 0.3s ease;
}

/* Media Queries */

@media (min-width: 540px) {

  .portfolio {
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
    grid-template-areas: ". items .";
  }

  .portfolio-item {
    width: auto;
    height: auto;
    margin: none;
    min-width: none;
    max-width: none;
  }

  .portfolio-items {
    grid-area: items;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.5rem;
    justify-content: center;
  }
}

@media (min-width: 820px) {
  .portfolio-items {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1100px) {
  .portfolio-items {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 960px) {
  .portfolio {
    grid-area: portfolio;
  }
}
