doctype html
html(lang="en")
  head
    title Alexander Morse
  body
    header#header.header
      h1 Alexander Morse
    nav#nav.nav
      p This is a docking, collapsible nav bar.
    section#about.about
      p This is a paragraph or two about me, plus a picture.
    section#portfolio.portfolio
      p This is my portfolio. It has a larger 'latest' entry, plus other smaller ones.
    section#links.links
      p This section has links to my various social media pages
    section#contact.contact
      p This section has a contact form to send me things.
    footer#footer.footre
      p This footer has more links.
