body {
  background-color: #b35142;
  background-image: url('images/canvas.png');
  font-family: 'Open Sans', sans-serif;
  color: #2B0206;
  /* For nav bar testing */
  min-height: 1000px;
}

h1, h2, h3 {
  font-family: 'Acme', sans-serif;
  width: 100%;
  text-align: center;
}

@media (min-width: 960px) {
  .layout {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: "header header"
                         "nav nav"
                         "about about"
                         "portfolio portfolio"
                         "links contact"
                         "footer footer";
  }
}
